    <div class="section-clients bg-blue text-center">
    <div class="container">
      <div class="section-header">
        <div class="green-text">lorem ipsum</div>
        <h2>clients served</h2>
      </div><!-- /.section-header -->
      <div class="row clients">
        <div class="col-sm-3">
          <img src="{{ '/img/logo1.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo2.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo3.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo4.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo5.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo6.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo7.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo8.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo9.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo10.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo11.png'|url }}" alt="" class="img-fluid">
        </div>
        <div class="col-sm-3">
          <img src="{{ '/img/logo12.png'|url }}" alt="" class="img-fluid">
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    </div><!-- /.section-clients -->
