<div class="section-capability background-dark section">
    <div class="container">
        <div class="section-header text-center">
            <div class="green-text">{{ this.header }}</div>
            <h2>{{ this.title }}</h2>
        </div><!-- /.section-header -->

        <!-- Desktop Version -->
        <div class="d-none d-md-block grid row boxes ">
            {% for capability in this.capabilities.blocks %}
                {{ capability }}
            {% endfor %}
        </div><!-- /.row -->

        <!-- Mobile Version -->
        <div class="capability-mobi d-block d-md-none">
            <ul>
                {% for capability in this.capabilities.blocks %}
                    <li>{{ capability.title }} <a href="#">MORE></a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- /.container -->
</div><!-- /.section-capability -->
