<div class="grid-item col-md-6 col-lg-4">
    <div class="box">
        <img src="{{ this.image_url }}" alt="" class="img-fluid">
        <div class="box-content">
            <div class="title-wrap">
                <h3 class="title">{{ this.title }}</h3>
                <a href="#" class="plus-icon-wrap"><img src=" {{ '/img/icon_plus2.png'|url }}" alt=""></a>
            </div><!-- /.title-wrap -->
            <div class="content-wrap">
                {{ this.description }} <br>
                <a href="#" class="learn-more"> <span>Learn more</span> <img src="{{  '/img/icon_gt2.png'|url }}" alt=""></a>
            </div><!-- /.content-wrap -->
        </div><!-- /.box-content -->
    </div><!-- /.box -->
</div><!-- /.col-md-4 -->
