<div class="section-testimonials section">
    <div class="container-wrapper">
        <div class="container">
            <div class="inner-container">
                <div id="testimonials" class="clearfix">
                    <h3 class="text-center">what our clients say</h3>

                    <!-- testimonials -->
                    <div class="testimonials-area">
                    {% for slide in this.slides.blocks %}
                        {{ slide }}
                    {% endfor %}
                    </div><!-- /.testimonials-area -->

                </div><!-- /#testimonials -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.container-wrapper -->
</div><!-- /.secion-testimonials -->
