      <div class="section-tailored-solutions section">
        <div class="container">
          <div class="tailored-solutions text-center">
            <h2>{{ this.header }}</h2>
            <h3>{{ this.title }}</h3>
            <p class="quote">
                {{ this.quote }}
            </p>
            <a class="btn btn-success" href="#">READ MORE <i class="fas fa-angle-right"></i></a>
          </div>
        </div><!-- /.container -->
      </div><!-- /.section-tailored-solutions -->



