@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
@import 'variables';
@import 'reset';
@import 'media';



.page-wrapper{
	overflow: hidden;
}
.background-dark{
	background: #111f3a;
};
.bg-blue{
	background: #3e84a1;
}
//Full Screen Search Form
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}
.site-header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
	.navbar {
	    background: rgba(43,140,155, 0.60);
	    padding: .9rem 1rem;
	}
	.navbar.small {
	    background: rgba(43,140,155, 1);
	}
	.container{
		position: relative;
	}

	.navbar-toggler{
		margin-top: 5px;
	}

	//Full Screen Search Form
	.overlay {
	    height: 100%;
	    width: 100%;
	    display: none;
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0, 0.9);
	}

	.overlay-content {
	    position: relative;
	    top: 46%;
	    width: 80%;
	    text-align: center;
	    margin-top: 30px;
	    margin: auto;
	}

	.overlay .closebtn {
	    position: absolute;
	    top: 20px;
	    right: 45px;
	    font-size: 60px;
	    cursor: pointer;
	    color: white;
	}

	.overlay .closebtn:hover {
	    color: #ccc;
	}

	.overlay input[type=text] {
	    padding: 15px;
	    font-size: 17px;
	    border: none;
	    float: left;
	    width: 80%;
	    background: white;
	}

	.overlay input[type=text]:hover {
	    background: #f1f1f1;
	}

	.overlay button {
	    float: left;
	    width: 20%;
	    padding: 15px;
	    background: #ddd;
	    font-size: 17px;
	    border: none;
	    cursor: pointer;
	}

	.overlay button:hover {
	    background: #bbb;
	}
}


.case-studies-banner{
	background:url(../img/hero_bg.jpg) no-repeat;
}
.section-banner{
	color: #fff;
	background-size: cover;
	min-height: 700px;
	position: relative;
	.container{
		position: relative;
		min-height: 700px;
		text-align: center;
	}
	.intro-content{
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		h1{
			color: $green;
			font-size: 35px;
			text-transform: uppercase;
		}
		h2{
			/*font-weight: $light; */
			font-size: 50px;
			color: #fff;
			text-transform: uppercase;
		}
		p{
			font-size: 30px;
			font-weight: $light; 
			color: #fff;
			line-height: 40px;
			margin-top: 20px;
		}
		width:100%;
		position: absolute; 
		top: 50%; 
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 30px 15px;

	}
}
.section-fpo-infographic{
	background: #3e84a1;
	.inner-content{
		background: #0f1c38;
		padding-top: 45px;
		h2{
			font-size: 48px;
			text-transform: uppercase;
			color: $white; 
			font-weight: $light;
		}
	}
}

.section-header{
	.green-text{
		color: $green;
		font-weight:$regular;
		text-transform:uppercase;
	}
	h2{
		font-weight:$light;
		text-transform:uppercase;
		color: $white;
	}
}
.section-case-study{
	padding-top: 50px;
	padding-bottom: 50px;
	.section-header{
		.green-text{
			color: $green;
			font-size: 35px;
			font-weight:$regular;
			text-transform:uppercase;
		}
		h2{
			font-size: 50px;
			font-weight:$light;
			text-transform:uppercase;
			color: $white;
		}
	}
	.boxes{
		margin-top:40px;
		.box{
			margin-bottom: 40px;
			img{
				border-bottom: 3px solid $green;
			}
			h3{
				margin-top: 25px;
				a{
					font-size: 30px;
					font-weight:$light;
					text-transform:uppercase;
					color: $green;
					text-decoration: none;
				}
			}
			p{
				font-size: 20px;
				font-weight:$light;
				text-transform:uppercase;
				color: #d5d6d9;
				a.more{
					color: $green;
				}
			}
		}
	}
}
.section-testimonials{
	background:url(../img/testimonial_bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 84px;
	.inner-container{
		padding-top:85px;
		background: #111f3a;
	}
}
#testimonials{
	h3{
		font-weight: $light; 
		color: $green;
		font-size: 20px;
		text-transform: uppercase;
	}
	.testimonials-area{
		margin-bottom: 0px;
		.slick-prev, .slick-next {
		    top: 25%;
		}
		.comment{
			text-align: center;
			color: #fff;
			font-weight: $light;
			font-size: 30px;
			line-height: 48px;
		}
		.client-info{
			clear: both;
			text-align: left;
			border-top: 3px solid $green;
			margin-top: 30px;

			img{
				float: left; 
			}
			p{
				color: $green;
				font-weight: $light;
				font-size: 20px;
				line-height: 24px;
				text-transform:uppercase;
				margin-left:110px;
			}
		}
	}
}
.section-press-releases{
	padding-top: 50px;
	padding-bottom: 50px;
	.section-header{
		.green-text{
			color: $green;
			font-size: 35px;
			font-weight:$regular;
			text-transform:uppercase;
		}
		h2{
			font-size: 50px;
			font-weight:$light;
			text-transform:uppercase;
			color: $white;
		}
	}
	.boxes{
		margin-top:40px;
		.box{
			margin-bottom: 40px;
			img{
				border-bottom: 3px solid $green;
			}
			h3{
				margin-top: 25px;
				a{
					font-size: 30px;
					font-weight:$light;
					text-transform:uppercase;
					color: $green;
					text-decoration: none;
				}
			}
			p{
				font-size: 20px;
				line-height: 21px;
				font-weight:$light;
				text-transform:uppercase;
				color: #d5d6d9;
				a.more{
					color: $green;
				}
			}
		}
	}
}
.section-tailored-solutions{
	background:url(../img/review_bg.jpg) no-repeat;
	background-size: cover;

	.tailored-solutions{
		max-width: 1070px;
		margin-left: auto;
		margin-right: auto;
		h2{
			font-size: 35px;
			font-weight: $regular;
			color: $green;
			text-transform: uppercase;
		}
		h3{
			color: #233c6b;
			font-size: 50px;
			font-weight: $light;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
		p{
			color: #111f3a;
			font-size: 40px;
			font-weight: $light;
			position: relative;
		}
		p.quote:before{
		    width: 80px;
		    height:66px;
		    content: " ";
		    background-image: url(../img/quote2.png);
		    position: absolute;
		    left: -82px;
		    top: -15px;
		}

		.btn-success{
			background: #9fce67!important;
			color: #fff;
			border:1px solid #9fce67;
		}
	}
}

.section-clients{
	padding-top:100px;
	bottom:80px;
	.section-header{
		.green-text{
			color: $green;
			font-size: 35px;
			font-weight:$regular;
			text-transform:uppercase;
		}
		h2{
			font-size: 50px;
			font-weight:$light;
			text-transform:uppercase;
			color: $white;
		}
	}
	.clients{
		padding-top: 30px;
		> div{
			margin-bottom: 40px;
		}
	}
}
.section-contact{
     padding-top:50px;
	.container-inner{
		padding-top: 30px;
		padding-bottom: 30px;
		background: #111f3a;
		h2{
			text-align: center;
			font-weight: $light;
			color: #fff;
			font-size: 40px;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		form{
			max-width: 985px;
			margin-left: auto; 
			margin-right: auto;
			padding-left: 15px;
			padding-right: 15px;
			input{
				height: 50px;
				line-height: 1;
				border-radius: 0px;
				margin-bottom: 32px;
			}
			.btn-success{
				background: #9fce67!important;
				color: #fff;
				border:1px solid #9fce67;
				font-size: 20px;
				text-transform: uppercase;
				border-radius: 0px;
				cursor: pointer;
			}
		}
	}
}
.site-footer{
	color: #d5d6d9;

	.block-left{
		color: #fff;
		h3{
			padding-top: 7px;
			padding-bottom: 5px; 
			border-bottom: 3px solid $green;
			a{
				font-weight: $regular; 
				color: $white;
				font-size: 20px;
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
					color: $green;
				}
			}
		}
	}
	.footer-menu-and-copyright{
		ul{
			li{
				a{
					color: #d7e2e8;
					font-size: 16px; 
					font-weight: $light;
					line-height: 34px;
				}
			}
		}
		p.copyright{
			color: #d7e2e8;
			font-size: 16px; 
			font-weight: $light;
			line-height: 34px;
		}
	}
	.newsletter-and-socail-icons{
		.subscribtion-form{
			h3{
				color: $white;
				font-size: 30px; 
				font-weight: $light;
				text-transform: uppercase;
			}
			.fields-wrap{
				position: relative;
			}
			input[type="text"]{
				height: 53px;
				line-height: 1;
				border: none;
				width: 100%;
				padding: 0px 65px 0px 10px;
			}
			button[type="submit"]{
				background: $green;
				width: 53px;
				height: 53px;
				border:none;
				display: inline-block;
				position: absolute;
				top:0px;
				right: 0px;
				cursor: pointer;
			}
		}
		.social-icons{
			ul{
				margin-right: -15px;
				li{
					float: left; 
					margin-right: 15px;
					a{
						display: block;
						width: 40px;
						height: 40px;
						background: $green;
						color: $white;
						text-align:center;
						line-height: 40px;
						font-size: 22px;
						trasition: all 0.3s ease-in-out;
						&:hover{
							background: #28a745;
						}
					}
				}
			}
		}
	}
}






// CAPABILITES PAGE
.capabilities-banner-section{
	background:url(../img/capabilities_hero_bg.jpg) no-repeat;
}

.section-capability{
	.boxes{
		margin-top: 45px;
		.box{
			margin-bottom: 35px;
			position: relative;
			.box-content{
				background: #336b87;
				padding: 30px 15px 25px 40px;
				border-bottom: 3px solid $green;
				color: $white;

			    margin-top: -90px;
			    position: relative;
			    z-index: 2;
				.title-wrap{
					h3{
						font-weight: $light;
						font-size: 30px;
						text-transform: uppercase;
						margin-bottom: 0px;
					}
					position: relative;
					a.plus-icon-wrap{
						position: absolute;
						top:-12px;
						right: 15px;
					}
				}
				.content-wrap{
					display:none;
					p{
						font-weight: $light;
						font-size: 16px;
						color: $white;
					}
					a.learn-more{
						display: inline-block;
						margin-top: 20px;
						text-transform: uppercase;
						font-weight: $semi-bold;
						color: $white;
						span{
							position: relative;
							top: 2px;
						}
						&:hover{
							text-decoration: none;
							color: $green;
						}
					}
				}

			}
		}
	}
}

//Resources Page
.resources-banner-section{
	background:url(../img/resources_hero_bg.jpg) no-repeat;
}
#arrow_down{
	position: absolute;
	bottom: 55px;
	left: 0px;
	right: 0px;
	display:inline-block;
	z-index: 2;
}
.read-more-cta{
	background: $green;
	color: $white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: $regular;
	border-radius: 0px;
	border: 1px solid $green;
}

.section-thought-leadership{
	.section-header{
		.green-text{
			color: $green;
			font-size: 35px;
			font-weight:$regular;
			text-transform:uppercase;
		}
		h2{
			font-size: 50px;
			font-weight:$light;
			text-transform:uppercase;
			color: $white;
		}
	}
	.boxes{
		margin-top:40px;
		.box{
			margin-bottom: 40px;
			img{
				border-bottom: 3px solid $green;
			}
			h3{
				margin-top: 25px;
				a{
					font-size: 30px;
					font-weight:$light;
					text-transform:uppercase;
					color: $green;
					text-decoration: none;
				}
			}
			p{
				font-size: 20px;
				font-weight:$light;
				text-transform:uppercase;
				color: #d5d6d9;
				a.more{
					color: $green;
				}
			}
		}
	}
}

.section-faq{
	.faqs{
		margin-top: 45px;
		ul{

			li{
				text-transform: uppercase;
			    background: url(../img/green_square.png) no-repeat 12px 6px;
			    min-height: 15px;
				padding-left: 40px;
				margin-bottom: 20px;
				color: $white;
				a{
					color: $green;
				}
			}
		}
	}
}

.section-carousel-slider{
	padding-top: 100px;
	.flexslider{
		.slides {
		    margin-top: 30px;
		}
		background: #3e84a1;
		box-shadow: none;
		margin-bottom: 0px;
		max-width: 985px;
		margin-left: auto;
		margin-right: auto;
		.slides{

		}
		ul{
			li{

				h3{
					font-size:30px;
					font-weight: $light;
					color: $green;
				}
				p{
					font-size: 20px;
					color: $white;
					a{
						color: $green;
					}
				}
				.slide-wrap{
					position: relative;
					.icon_video{
						z-index: 3;
						position: absolute;
						top: 50%; 
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}

//Solutions page
.solutions-banner-section{
	background:url(../img/solutions_hero_bg.jpg) no-repeat;
}
.section-clinical-oncology{
	.right-content div.content-area:nth-child(3){
		margin-bottom: 0px;
	}
	.content-area{
		h3{
			font-weight: $light;
			color: $green;
			font-size: 30px;
		}
		p{
			font-size: 20px;
			font-weight: $light;
			line-height: 23px;
			color: $white;
		}
		ul.columns2{
		  margin-top: 35px;
		  li{
			    background: url(../img/green_square.png) no-repeat 2px 6px;
			    min-height: 15px;
				padding-left: 34px;
				margin-bottom: 20px;
				color: $white;
		  }
		}
		
	}
}

.section80{
	padding-top: 80px;
	padding-bottom: 80px;
}
.section-capabilities{
	padding-top: 90px;
	padding-bottom: 30px;
	.capabilities{
		margin-top: 45px;
		ul{
			margin-top: 35px;
			li{

				h3{
					color: $green;
					font-weight: $light;

				}
				text-transform: uppercase;
			    min-height: 15px;
				padding-left: 40px;
				color: $white;
				a{
					color: $green;
				}
			}
		}
	}
}


//Tertiary Page
.tertiary-banner-section{
	background:url(../img/tertiary_hero_bg.jpg) no-repeat;
}
.section2{
	.left-content{
		margin-top: 45px;
		p{
			color: $white;
			font-weight: $light;
			line-height: 24px;
			font-size: 20px; 
		}
	}
	.right-content{
		margin-top: 40px;
		ul{
			li{
				margin-bottom: 30px;
				h3{
					color: $green;
					font-weight: $light;

				}
				text-transform: uppercase;
			    background: url(../img/green_square.png) no-repeat 6px 12px;
			    min-height: 15px;
				padding-left: 34px;
				color: $white;
				a{
					color: $green;
				}
			}
		}
	}
}
.mr-bottom0{
	margin-bottom:0px;
}
.icon_video{
	color: $green;
	font-size: 120px;
	&:hover{
		color: $dark-green;
	}
}
.section-video{
	.container-inner{
		max-width:985px;
		margin-left: auto;
		margin-right: auto;
		.video-wrap{
			position: relative;
			.icon_video{
				position: absolute;
				top:50%;
				left: 50%; 
				transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
			margin-bottom: 50px;
		}
		h3{
			font-size: 30px;
			color: $green;
		}
		p{
			color: $white;
			font-size: 20px;
			font-weight: $light;
		}

	}
}


// Home Page
.section-hero{
	background:url(../img/home_hero_bg.jpg) no-repeat;
	background-size: cover;
    position: relative;
	min-height: 1000px;
	.container{
	    position: relative;
		min-height: 1000px;
	}

	.intro-content{
		.content-top{
			padding-top: 170px;
			padding-bottom: 45px;
			h1{
				color: $green;
				font-size: 35px;
			}
			h2{
				font-size: 50px;
				font-weight: $light;
				color: $white;
			}
		}
		.box{
			.content_wrap{
				background: rgba(83,145,170,0.6);
				padding: 15px 25px 5px 25px;
				h3{
					color: $white;
					font-size: 30px;
					font-weight: $light;
					margin-bottom: 0px;
				}
				p{
					font-size: 16px;
					color: $white;
					font-weight: $light;
				}
			}
			border-bottom: 3px solid $green;
		}
	}
}
.section-genome-solutions{

	.box{
		.content_wrap{
			margin-top: 30px;
			h3{
				font-size: 30px;
				font-weight: $light;
				color: $green;
			}
			p{
				color: $white;
				font-size: 20px;
				font-weight: $light;
			}
		}
	}
}
.section-my-cancer-genome{
	background:url(../img/bg_women.jpg) no-repeat;	
	background-size: cover;
	.box{
		max-width: 570px;
		.box-content{
			background: #578a9d;
			padding: 30px 20px 30px 40px;
			border-bottom: 3px solid $green;
			p{
				font-weight: $light;
				color: $white;
				font-size: 16px;
			}
		}
	}

}
.section-clients-carousel{
	.clients-carousel{
		margin-top: 50px;
		> div{

			img{
				margin-left: auto;
				margin-right: auto;
			}
		}
		.slick-track {
		  display: flex;
		}
		.slick-track .slick-slide {
		  display: flex;
		  height: auto;
		  align-items: center;
		  justify-content: center;
		}
	}
}

.section-what-clients-say{
	background: url(../img/testimonial_bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	.box-left{
		background: #111f3a;
		padding: 60px 15px 30px 30px;
		border-bottom: 3px solid $green;
		h3{
			font-size: 26px;
			font-weight: $light;
			color: $green;
			margin-bottom: 20px;
		}
		ul{
			li{
				text-transform: uppercase;
			    background: url(../img/green_square.png) no-repeat 2px 6px;
			    min-height: 15px;
				padding-left: 30px;
				margin-bottom: 20px;
				color: $white;
				a{
					color: $green;
				}
			}
		}
	}

	#testimonials{
		background: #111f3a;
		padding-top: 98px;
		h3{
			font-weight: $light; 
			color: $green;
			font-size: 20px;
			text-transform: uppercase;
		}
		.flexslider{
			background: none;
			box-shadow: none;
			li{
				color: #fff;
				font-weight: $light;
				font-size: 30px;
				line-height: 48px;
			}
		}
		.slides{
			img{
				width:auto;
			}
			.comment{
				text-align: center;
			}
			.client-info{
				clear: both;
				text-align: left;
				border-top: 3px solid $green;
				margin-top: 30px;

				img{
					float: left; 
				}
				p{
					color: $green;
					font-weight: $light;
					font-size: 20px;
					line-height: 24px;
					text-transform:uppercase;
					margin-left:110px;
				}
			}
		}
	}
}

