@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,400");
* {
  margin: 0px;
  padding: 0px; }

.clearfix {
  clear: both; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'Montserrat', sans-serif; }

ul li {
  list-style: none; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-weight: 300;
  color: #5a5a5a; }

h1, h2, h3 {
  text-transform: uppercase; }

p {
  color: #5a5a5a; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
@media (min-width: 320px) {
  .section-header .green-text {
    font-size: 20px; }
  .section-header h2 {
    font-size: 44px; }

  .site-header .srch_icon {
    position: absolute;
    top: 12px;
    right: 70px; }

  .navbar-toggler img, .srch_icon img {
    width: 25px;
    height: auto; }

  .navbar-brand img {
    width: 150px; }

  .section {
    padding-top: 50px;
    padding-bottom: 50px; }

  .inner-content {
    padding-left: 15px;
    padding-right: 15px;
    background: #0f1c38; }
    .inner-content h2 {
      text-align: left;
      margin-top: 30px; }

  .boxes .box {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto; }

  .ohio-state-university {
    padding: 30px 15px; }

  .container-wrapper {
    background: #111f3a; }

  .section-tailored-solutions {
    background-position: right top !important; }

  .block-left, .newsletter-and-socail-icons {
    max-width: 385px;
    margin-left: auto;
    margin-right: auto; }

  .site-footer {
    padding-top: 40px;
    padding-bottom: 40px; }

  .social-icons {
    text-align: center; }
    .social-icons ul {
      display: inline-block;
      margin-top: 30px; }

  .footer-menu-and-copyright {
    text-align: center; }
    .footer-menu-and-copyright ul {
      display: inline-block;
      margin-bottom: 0px; }
      .footer-menu-and-copyright ul li {
        float: left; }
        .footer-menu-and-copyright ul li a {
          text-transform: uppercase;
          border-right: 1px solid #fff;
          padding-left: 20px;
          padding-right: 20px; }
        .footer-menu-and-copyright ul li:last-child a {
          border-right: 0px solid #fff; }
    .footer-menu-and-copyright p.copyright {
      margin-top: 0px; }

  .capability-mobi {
    margin-top: 15px; }
    .capability-mobi ul li {
      background: url(../img/green_square.png) no-repeat 12px 6px;
      min-height: 15px;
      padding-left: 40px;
      margin-bottom: 20px;
      color: #fff; }
      .capability-mobi ul li a {
        color: #9fce67; }

  div#carousel {
    width: 290px; }

  .slide-wrap img.icon_video {
    width: 68px;
    height: 68px; }

  .section-clinical-oncology .content-area {
    margin-bottom: 90px;
    overflow: hidden; }
    .section-clinical-oncology .content-area .icon_wrap {
      float: left;
      margin-bottom: 30px; }
    .section-clinical-oncology .content-area .content_wrap {
      margin-left: 110px; }

  .section-capabilities .capabilities ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1; }
    .section-capabilities .capabilities ul li {
      margin-bottom: 18px;
      background: url(../img/green_square.png) no-repeat 12px 5px; }

  .section-what-clients-say .box-left {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto; }
  .section-what-clients-say .container {
    max-width: none; }
  .section-what-clients-say .box-right {
    margin-top: 40px; }

  #testimonials {
    margin-left: -15px;
    margin-right: -15px; }
    #testimonials .testimonials-area .slick-prev {
      left: 15px;
      z-index: 9999; }
    #testimonials .testimonials-area .slick-next {
      right: 15px;
      z-index: 9999; }
    #testimonials .testimonials-area .comment {
      padding: 0px 70px 0px 70px; }
    #testimonials .testimonials-area .client-info {
      padding: 30px 15px; }

  .section-hero .box {
    margin-bottom: 25px; }

  .section-genome-solutions .box {
    margin-bottom: 90px; }

  .section-genome-solutions .section-header {
    margin-bottom: 80px; }
  .section-genome-solutions .box {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 576px) {
  .site-header .srch_icon {
    position: absolute;
    top: 11px;
    right: 95px; }

  .navbar-toggler img, .srch_icon img {
    width: 30px;
    height: auto; }

  .navbar-brand img {
    width: 200px; }

  .section-banner .intro-content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200; }
  .section-banner .intro-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200; } }
@media (min-width: 768px) {
  .section-header .green-text {
    font-size: 35px; }
  .section-header h2 {
    font-size: 50px; }

  .section-banner .intro-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }
  .section-banner .intro-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; }

  .site-header .srch_icon {
    top: 22px;
    right: 95px; }

  .navbar-toggler img, .srch_icon img {
    width: 35px;
    height: auto; }

  .navbar-brand img {
    width: auto; }

  .section {
    padding-top: 100px;
    padding-bottom: 100px; }

  .inner-content {
    background: #0f1c38;
    padding-top: 45px; }
    .inner-content h2 {
      text-align: right;
      margin-top: 150px; }

  .section-what-clients-say .container {
    max-width: 720px; }
  .section-what-clients-say #testimonials {
    margin-left: 0px;
    margin-right: 0px; }
    .section-what-clients-say #testimonials .box-right {
      margin-top: 120px; }
    .section-what-clients-say #testimonials .flex-direction-nav .flex-prev {
      left: -40px;
      top: 40px; }
    .section-what-clients-say #testimonials .flex-direction-nav .flex-next {
      right: -40px;
      top: 40px; }
  .section-what-clients-say .box-right {
    margin-top: 120px; }

  #testimonials {
    margin-left: 0px;
    margin-right: 0px; }

  .ohio-state-university {
    padding: 30px 135px; }

  .container-wrapper {
    background: none; }

  .br-more {
    display: none; }

  .block-left, .newsletter-and-socail-icons {
    max-width: auto; }

  .site-footer {
    padding-top: 80px;
    padding-bottom: 80px; }

  .social-icons {
    text-align: left; }
    .social-icons ul {
      display: inline-block;
      margin-top: 80px; }

  .footer-menu-and-copyright {
    text-align: left; }
    .footer-menu-and-copyright ul {
      display: inline-block;
      margin-bottom: 0px; }
      .footer-menu-and-copyright ul li {
        float: none; }
        .footer-menu-and-copyright ul li a {
          text-transform: uppercase;
          border-right: 0px solid #fff;
          padding-left: 0px;
          padding-right: 0px; }
        .footer-menu-and-copyright ul li:last-child a {
          border-right: 0px solid #fff; }
    .footer-menu-and-copyright p.copyright {
      margin-top: 15px; }

  .padding-md-top-100 {
    padding-top: 100px !important; }

  .section-faq .faqs ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3; }
    .section-faq .faqs ul li {
      max-width: 250px; }

  .slide-wrap img.icon_video {
    width: 168px;
    height: 168px; }

  div#carousel {
    width: auto; }

  .section-clinical-oncology .content-area {
    margin-bottom: 0px;
    overflow: hidden; }
    .section-clinical-oncology .content-area .icon_wrap {
      float: none;
      margin-bottom: 30px; }
    .section-clinical-oncology .content-area .content_wrap {
      margin-left: 0px; }

  .section-capabilities .capabilities ul {
    margin-top: 35px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }
    .section-capabilities .capabilities ul li {
      margin-bottom: 48px;
      background: url(../img/green_square.png) no-repeat 12px 12px; }

  .section-genome-solutions .section-header {
    margin-bottom: 20px; } }
@media (min-width: 992px) {
  .section-clinical-oncology .content-area ul.columns2 {
    margin-top: 35px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; }

  .section-capabilities .capabilities ul {
    margin-top: 35px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3; }

  .section-what-clients-say .container {
    max-width: 960px; }

  #testimonials .testimonials-area .slick-prev {
    left: 35px;
    z-index: 9999; }
  #testimonials .testimonials-area .slick-next {
    right: 35px; }
  #testimonials .testimonials-area .comment {
    padding: 0px 135px 0px 135px; }
  #testimonials .testimonials-area .client-info {
    padding: 30px 135px; }

  .section-genome-solutions .box {
    margin-bottom: 0px; } }
@media (min-width: 1200px) {
  .tailored-solutions {
    padding-left: 370px; }

  .section-tailored-solutions {
    background-position: left top !important; }

  .section-what-clients-say .container {
    max-width: 1140px; } }
.page-wrapper {
  overflow: hidden; }

.background-dark {
  background: #111f3a; }

.bg-blue {
  background: #3e84a1; }

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white; }

.overlay .closebtn:hover {
  color: #ccc; }

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white; }

.overlay input[type=text]:hover {
  background: #f1f1f1; }

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; }

.overlay button:hover {
  background: #bbb; }

.site-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999; }
  .site-header .navbar {
    background: rgba(43, 140, 155, 0.6);
    padding: .9rem 1rem; }
  .site-header .navbar.small {
    background: #2b8c9b; }
  .site-header .container {
    position: relative; }
  .site-header .navbar-toggler {
    margin-top: 5px; }
  .site-header .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9); }
  .site-header .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto; }
  .site-header .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white; }
  .site-header .overlay .closebtn:hover {
    color: #ccc; }
  .site-header .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white; }
  .site-header .overlay input[type=text]:hover {
    background: #f1f1f1; }
  .site-header .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer; }
  .site-header .overlay button:hover {
    background: #bbb; }

.case-studies-banner {
  background: url(../img/hero_bg.jpg) no-repeat; }

.section-banner {
  color: #fff;
  background-size: cover;
  min-height: 700px;
  position: relative; }
  .section-banner .container {
    position: relative;
    min-height: 700px;
    text-align: center; }
  .section-banner .intro-content {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 15px; }
    .section-banner .intro-content h1 {
      color: #9fce67;
      font-size: 35px;
      text-transform: uppercase; }
    .section-banner .intro-content h2 {
      /*font-weight: $light; */
      font-size: 50px;
      color: #fff;
      text-transform: uppercase; }
    .section-banner .intro-content p {
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      line-height: 40px;
      margin-top: 20px; }

.section-fpo-infographic {
  background: #3e84a1; }
  .section-fpo-infographic .inner-content {
    background: #0f1c38;
    padding-top: 45px; }
    .section-fpo-infographic .inner-content h2 {
      font-size: 48px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 300; }

.section-header .green-text {
  color: #9fce67;
  font-weight: 400;
  text-transform: uppercase; }
.section-header h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #fff; }

.section-case-study {
  padding-top: 50px;
  padding-bottom: 50px; }
  .section-case-study .section-header .green-text {
    color: #9fce67;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase; }
  .section-case-study .section-header h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
  .section-case-study .boxes {
    margin-top: 40px; }
    .section-case-study .boxes .box {
      margin-bottom: 40px; }
      .section-case-study .boxes .box img {
        border-bottom: 3px solid #9fce67; }
      .section-case-study .boxes .box h3 {
        margin-top: 25px; }
        .section-case-study .boxes .box h3 a {
          font-size: 30px;
          font-weight: 300;
          text-transform: uppercase;
          color: #9fce67;
          text-decoration: none; }
      .section-case-study .boxes .box p {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #d5d6d9; }
        .section-case-study .boxes .box p a.more {
          color: #9fce67; }

.section-testimonials {
  background: url(../img/testimonial_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 84px; }
  .section-testimonials .inner-container {
    padding-top: 85px;
    background: #111f3a; }

#testimonials h3 {
  font-weight: 300;
  color: #9fce67;
  font-size: 20px;
  text-transform: uppercase; }
#testimonials .testimonials-area {
  margin-bottom: 0px; }
  #testimonials .testimonials-area .slick-prev, #testimonials .testimonials-area .slick-next {
    top: 25%; }
  #testimonials .testimonials-area .comment {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    line-height: 48px; }
  #testimonials .testimonials-area .client-info {
    clear: both;
    text-align: left;
    border-top: 3px solid #9fce67;
    margin-top: 30px; }
    #testimonials .testimonials-area .client-info img {
      float: left; }
    #testimonials .testimonials-area .client-info p {
      color: #9fce67;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      margin-left: 110px; }

.section-press-releases {
  padding-top: 50px;
  padding-bottom: 50px; }
  .section-press-releases .section-header .green-text {
    color: #9fce67;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase; }
  .section-press-releases .section-header h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
  .section-press-releases .boxes {
    margin-top: 40px; }
    .section-press-releases .boxes .box {
      margin-bottom: 40px; }
      .section-press-releases .boxes .box img {
        border-bottom: 3px solid #9fce67; }
      .section-press-releases .boxes .box h3 {
        margin-top: 25px; }
        .section-press-releases .boxes .box h3 a {
          font-size: 30px;
          font-weight: 300;
          text-transform: uppercase;
          color: #9fce67;
          text-decoration: none; }
      .section-press-releases .boxes .box p {
        font-size: 20px;
        line-height: 21px;
        font-weight: 300;
        text-transform: uppercase;
        color: #d5d6d9; }
        .section-press-releases .boxes .box p a.more {
          color: #9fce67; }

.section-tailored-solutions {
  background: url(../img/review_bg.jpg) no-repeat;
  background-size: cover; }
  .section-tailored-solutions .tailored-solutions {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto; }
    .section-tailored-solutions .tailored-solutions h2 {
      font-size: 35px;
      font-weight: 400;
      color: #9fce67;
      text-transform: uppercase; }
    .section-tailored-solutions .tailored-solutions h3 {
      color: #233c6b;
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 40px; }
    .section-tailored-solutions .tailored-solutions p {
      color: #111f3a;
      font-size: 40px;
      font-weight: 300;
      position: relative; }
    .section-tailored-solutions .tailored-solutions p.quote:before {
      width: 80px;
      height: 66px;
      content: " ";
      background-image: url(../img/quote2.png);
      position: absolute;
      left: -82px;
      top: -15px; }
    .section-tailored-solutions .tailored-solutions .btn-success {
      background: #9fce67 !important;
      color: #fff;
      border: 1px solid #9fce67; }

.section-clients {
  padding-top: 100px;
  bottom: 80px; }
  .section-clients .section-header .green-text {
    color: #9fce67;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase; }
  .section-clients .section-header h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff; }
  .section-clients .clients {
    padding-top: 30px; }
    .section-clients .clients > div {
      margin-bottom: 40px; }

.section-contact {
  padding-top: 50px; }
  .section-contact .container-inner {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #111f3a; }
    .section-contact .container-inner h2 {
      text-align: center;
      font-weight: 300;
      color: #fff;
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .section-contact .container-inner form {
      max-width: 985px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px; }
      .section-contact .container-inner form input {
        height: 50px;
        line-height: 1;
        border-radius: 0px;
        margin-bottom: 32px; }
      .section-contact .container-inner form .btn-success {
        background: #9fce67 !important;
        color: #fff;
        border: 1px solid #9fce67;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 0px;
        cursor: pointer; }

.site-footer {
  color: #d5d6d9; }
  .site-footer .block-left {
    color: #fff; }
    .site-footer .block-left h3 {
      padding-top: 7px;
      padding-bottom: 5px;
      border-bottom: 3px solid #9fce67; }
      .site-footer .block-left h3 a {
        font-weight: 400;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase; }
        .site-footer .block-left h3 a:hover {
          text-decoration: none;
          color: #9fce67; }
  .site-footer .footer-menu-and-copyright ul li a {
    color: #d7e2e8;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px; }
  .site-footer .footer-menu-and-copyright p.copyright {
    color: #d7e2e8;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px; }
  .site-footer .newsletter-and-socail-icons .subscribtion-form h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase; }
  .site-footer .newsletter-and-socail-icons .subscribtion-form .fields-wrap {
    position: relative; }
  .site-footer .newsletter-and-socail-icons .subscribtion-form input[type="text"] {
    height: 53px;
    line-height: 1;
    border: none;
    width: 100%;
    padding: 0px 65px 0px 10px; }
  .site-footer .newsletter-and-socail-icons .subscribtion-form button[type="submit"] {
    background: #9fce67;
    width: 53px;
    height: 53px;
    border: none;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer; }
  .site-footer .newsletter-and-socail-icons .social-icons ul {
    margin-right: -15px; }
    .site-footer .newsletter-and-socail-icons .social-icons ul li {
      float: left;
      margin-right: 15px; }
      .site-footer .newsletter-and-socail-icons .social-icons ul li a {
        display: block;
        width: 40px;
        height: 40px;
        background: #9fce67;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 22px;
        trasition: all 0.3s ease-in-out; }
        .site-footer .newsletter-and-socail-icons .social-icons ul li a:hover {
          background: #28a745; }

.capabilities-banner-section {
  background: url(../img/capabilities_hero_bg.jpg) no-repeat; }

.section-capability .boxes {
  margin-top: 45px; }
  .section-capability .boxes .box {
    margin-bottom: 35px;
    position: relative; }
    .section-capability .boxes .box .box-content {
      background: #336b87;
      padding: 30px 15px 25px 40px;
      border-bottom: 3px solid #9fce67;
      color: #fff;
      margin-top: -90px;
      position: relative;
      z-index: 2; }
      .section-capability .boxes .box .box-content .title-wrap {
        position: relative; }
        .section-capability .boxes .box .box-content .title-wrap h3 {
          font-weight: 300;
          font-size: 30px;
          text-transform: uppercase;
          margin-bottom: 0px; }
        .section-capability .boxes .box .box-content .title-wrap a.plus-icon-wrap {
          position: absolute;
          top: -12px;
          right: 15px; }
      .section-capability .boxes .box .box-content .content-wrap {
        display: none; }
        .section-capability .boxes .box .box-content .content-wrap p {
          font-weight: 300;
          font-size: 16px;
          color: #fff; }
        .section-capability .boxes .box .box-content .content-wrap a.learn-more {
          display: inline-block;
          margin-top: 20px;
          text-transform: uppercase;
          font-weight: 600;
          color: #fff; }
          .section-capability .boxes .box .box-content .content-wrap a.learn-more span {
            position: relative;
            top: 2px; }
          .section-capability .boxes .box .box-content .content-wrap a.learn-more:hover {
            text-decoration: none;
            color: #9fce67; }

.resources-banner-section {
  background: url(../img/resources_hero_bg.jpg) no-repeat; }

#arrow_down {
  position: absolute;
  bottom: 55px;
  left: 0px;
  right: 0px;
  display: inline-block;
  z-index: 2; }

.read-more-cta {
  background: #9fce67;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0px;
  border: 1px solid #9fce67; }

.section-thought-leadership .section-header .green-text {
  color: #9fce67;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase; }
.section-thought-leadership .section-header h2 {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff; }
.section-thought-leadership .boxes {
  margin-top: 40px; }
  .section-thought-leadership .boxes .box {
    margin-bottom: 40px; }
    .section-thought-leadership .boxes .box img {
      border-bottom: 3px solid #9fce67; }
    .section-thought-leadership .boxes .box h3 {
      margin-top: 25px; }
      .section-thought-leadership .boxes .box h3 a {
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        color: #9fce67;
        text-decoration: none; }
    .section-thought-leadership .boxes .box p {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      color: #d5d6d9; }
      .section-thought-leadership .boxes .box p a.more {
        color: #9fce67; }

.section-faq .faqs {
  margin-top: 45px; }
  .section-faq .faqs ul li {
    text-transform: uppercase;
    background: url(../img/green_square.png) no-repeat 12px 6px;
    min-height: 15px;
    padding-left: 40px;
    margin-bottom: 20px;
    color: #fff; }
    .section-faq .faqs ul li a {
      color: #9fce67; }

.section-carousel-slider {
  padding-top: 100px; }
  .section-carousel-slider .flexslider {
    background: #3e84a1;
    box-shadow: none;
    margin-bottom: 0px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto; }
    .section-carousel-slider .flexslider .slides {
      margin-top: 30px; }
    .section-carousel-slider .flexslider ul li h3 {
      font-size: 30px;
      font-weight: 300;
      color: #9fce67; }
    .section-carousel-slider .flexslider ul li p {
      font-size: 20px;
      color: #fff; }
      .section-carousel-slider .flexslider ul li p a {
        color: #9fce67; }
    .section-carousel-slider .flexslider ul li .slide-wrap {
      position: relative; }
      .section-carousel-slider .flexslider ul li .slide-wrap .icon_video {
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .section-carousel-slider .flexslider ul li:hover {
      cursor: pointer; }

.solutions-banner-section {
  background: url(../img/solutions_hero_bg.jpg) no-repeat; }

.section-clinical-oncology .right-content div.content-area:nth-child(3) {
  margin-bottom: 0px; }
.section-clinical-oncology .content-area h3 {
  font-weight: 300;
  color: #9fce67;
  font-size: 30px; }
.section-clinical-oncology .content-area p {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  color: #fff; }
.section-clinical-oncology .content-area ul.columns2 {
  margin-top: 35px; }
  .section-clinical-oncology .content-area ul.columns2 li {
    background: url(../img/green_square.png) no-repeat 2px 6px;
    min-height: 15px;
    padding-left: 34px;
    margin-bottom: 20px;
    color: #fff; }

.section80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-capabilities {
  padding-top: 90px;
  padding-bottom: 30px; }
  .section-capabilities .capabilities {
    margin-top: 45px; }
    .section-capabilities .capabilities ul {
      margin-top: 35px; }
      .section-capabilities .capabilities ul li {
        text-transform: uppercase;
        min-height: 15px;
        padding-left: 40px;
        color: #fff; }
        .section-capabilities .capabilities ul li h3 {
          color: #9fce67;
          font-weight: 300; }
        .section-capabilities .capabilities ul li a {
          color: #9fce67; }

.tertiary-banner-section {
  background: url(../img/tertiary_hero_bg.jpg) no-repeat; }

.section2 .left-content {
  margin-top: 45px; }
  .section2 .left-content p {
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px; }
.section2 .right-content {
  margin-top: 40px; }
  .section2 .right-content ul li {
    margin-bottom: 30px;
    text-transform: uppercase;
    background: url(../img/green_square.png) no-repeat 6px 12px;
    min-height: 15px;
    padding-left: 34px;
    color: #fff; }
    .section2 .right-content ul li h3 {
      color: #9fce67;
      font-weight: 300; }
    .section2 .right-content ul li a {
      color: #9fce67; }

.mr-bottom0 {
  margin-bottom: 0px; }

.icon_video {
  color: #9fce67;
  font-size: 120px; }
  .icon_video:hover {
    color: #28a745; }

.section-video .container-inner {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto; }
  .section-video .container-inner .video-wrap {
    position: relative;
    margin-bottom: 50px; }
    .section-video .container-inner .video-wrap .icon_video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  .section-video .container-inner h3 {
    font-size: 30px;
    color: #9fce67; }
  .section-video .container-inner p {
    color: #fff;
    font-size: 20px;
    font-weight: 300; }

.section-hero {
  background: url(../img/home_hero_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 1000px; }
  .section-hero .container {
    position: relative;
    min-height: 1000px; }
  .section-hero .intro-content .content-top {
    padding-top: 170px;
    padding-bottom: 45px; }
    .section-hero .intro-content .content-top h1 {
      color: #9fce67;
      font-size: 35px; }
    .section-hero .intro-content .content-top h2 {
      font-size: 50px;
      font-weight: 300;
      color: #fff; }
  .section-hero .intro-content .box {
    border-bottom: 3px solid #9fce67; }
    .section-hero .intro-content .box .content_wrap {
      background: rgba(83, 145, 170, 0.6);
      padding: 15px 25px 5px 25px; }
      .section-hero .intro-content .box .content_wrap h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0px; }
      .section-hero .intro-content .box .content_wrap p {
        font-size: 16px;
        color: #fff;
        font-weight: 300; }

.section-genome-solutions .box .content_wrap {
  margin-top: 30px; }
  .section-genome-solutions .box .content_wrap h3 {
    font-size: 30px;
    font-weight: 300;
    color: #9fce67; }
  .section-genome-solutions .box .content_wrap p {
    color: #fff;
    font-size: 20px;
    font-weight: 300; }

.section-my-cancer-genome {
  background: url(../img/bg_women.jpg) no-repeat;
  background-size: cover; }
  .section-my-cancer-genome .box {
    max-width: 570px; }
    .section-my-cancer-genome .box .box-content {
      background: #578a9d;
      padding: 30px 20px 30px 40px;
      border-bottom: 3px solid #9fce67; }
      .section-my-cancer-genome .box .box-content p {
        font-weight: 300;
        color: #fff;
        font-size: 16px; }

.section-clients-carousel .clients-carousel {
  margin-top: 50px; }
  .section-clients-carousel .clients-carousel > div img {
    margin-left: auto;
    margin-right: auto; }
  .section-clients-carousel .clients-carousel .slick-track {
    display: flex; }
  .section-clients-carousel .clients-carousel .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center; }

.section-what-clients-say {
  background: url(../img/testimonial_bg.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .section-what-clients-say .box-left {
    background: #111f3a;
    padding: 60px 15px 30px 30px;
    border-bottom: 3px solid #9fce67; }
    .section-what-clients-say .box-left h3 {
      font-size: 26px;
      font-weight: 300;
      color: #9fce67;
      margin-bottom: 20px; }
    .section-what-clients-say .box-left ul li {
      text-transform: uppercase;
      background: url(../img/green_square.png) no-repeat 2px 6px;
      min-height: 15px;
      padding-left: 30px;
      margin-bottom: 20px;
      color: #fff; }
      .section-what-clients-say .box-left ul li a {
        color: #9fce67; }
  .section-what-clients-say #testimonials {
    background: #111f3a;
    padding-top: 98px; }
    .section-what-clients-say #testimonials h3 {
      font-weight: 300;
      color: #9fce67;
      font-size: 20px;
      text-transform: uppercase; }
    .section-what-clients-say #testimonials .flexslider {
      background: none;
      box-shadow: none; }
      .section-what-clients-say #testimonials .flexslider li {
        color: #fff;
        font-weight: 300;
        font-size: 30px;
        line-height: 48px; }
    .section-what-clients-say #testimonials .slides img {
      width: auto; }
    .section-what-clients-say #testimonials .slides .comment {
      text-align: center; }
    .section-what-clients-say #testimonials .slides .client-info {
      clear: both;
      text-align: left;
      border-top: 3px solid #9fce67;
      margin-top: 30px; }
      .section-what-clients-say #testimonials .slides .client-info img {
        float: left; }
      .section-what-clients-say #testimonials .slides .client-info p {
        color: #9fce67;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin-left: 110px; }

/*# sourceMappingURL=main.css.map */
