<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css'|url }}">

    <!-- font-awesome.css -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Flex slider for testmonials  -->
    <link rel="stylesheet" href="{{ '/css/flexslider.css'|url }}">

    <!-- Main Css -->
    <link rel="stylesheet" href="{{ '/css/main.css'|url }}">

    <title>{{ this.title }} - Genomoncology</title>
  </head>
  <body>
    <!-- Page Wrapper -->
    <div class="page-wrapper">

      <!-- Site Header -->
      <div class="site-header">
        <div class="collapse background-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">This is hidden text in the HTML Build. Is this right?</p>
              </div>
              <div class="col-sm-4 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Email me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- /.collapse -->


        <!-- Fullscreen Search -->
        <div id="myOverlay" class="overlay">
          <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
          <div class="overlay-content">
            <form action="index.html">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>

        <!-- Navbar -->
        <div class="navbar navbar-fixed-top">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand"><img src="{{ '/img/logo.png'|url }}" alt="" class="img-fluid"></a>

            <a href="#" class="srch_icon" onclick="openSearch()"><img src="{{ '/img/icon_search.png'|url }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <img src="{{ '/img/icon_plus.png'|url }}" alt=""></span>
            </button>
          </div>
        </div>
       </div> <!-- /.site-header -->


      <!-- Banner -->
      <div class="section-banner">
        <div class="container">
          <div class="intro-content">
            <h1>{{ this.header }}</h1>
            <h2 class="page-title">{{ this.title }}</h2>
            <p>{{ this.description }}</p>
          </div><!-- /.intro-content -->
        </div><!-- /.container -->
      </div><!-- /.section-banner -->

      {% block body %}{% endblock %}

{#      <!-- Testimonials -->#}
{#      <div class="section-testimonials section">#}
{#        <div class="container-wrapper">#}
{#          <div class="container">#}
{#            <div class="inner-container">#}
{#              <div id="testimonials" class="clearfix">#}
{#                <h3>what our clients say</h3>#}
{#                <!-- flexslider -->#}
{#                <div class="flexslider">#}
{#                  <ul class="slides">#}
{#                    <li>#}
{#                      <span>&ldquo;</span> The GO Clinical Workbench has helped us reduce the time to develop a clinically actionable report from half a day to less than an hour. <span> &rdquo;</span>#}
{#                    </li>#}
{#                    <li>#}
{#                      <span>&ldquo;</span> The GO Clinical Workbench has helped us reduce the time to develop a clinically actionable report from half a day to less than an hour. <span> &rdquo;</span>#}
{#                    </li>#}
{#                    <li>#}
{#                      <span>&ldquo;</span> The GO Clinical Workbench has helped us reduce the time to develop a clinically actionable report from half a day to less than an hour. <span> &rdquo;</span>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div><!-- /.flexslider -->#}
{#              </div><!-- /#testimonials -->#}
{#              <div class="ohio-state-university clearfix">#}
{#                <img src="{{ '/img/ohio_state_university.png'|url }}" alt="">#}
{#                <p>Pamela Groen, Laboratory Manager the Ohio State University, College of Medicine, Dept Of Pathology</p>#}
{#              </div><!-- /.ohio-state-university -->#}
{#            </div><!-- /.inner-container -->#}
{#          </div><!-- /.container -->#}
{#        </div><!-- /.container-wrapper -->#}
{#      </div><!-- /.secion-testimonials -->#}
{##}
{##}
{##}
{##}
{#      <!-- Press Releases  -->#}
{#      <div class="section-press-releases background-dark">#}
{#        <div class="container">#}
{#          <div class="section-header text-center">#}
{#            <div class="green-text">lorem ipsum</div>#}
{#            <h2>Press releases</h2>#}
{#          </div><!-- /.section-header -->#}
{#          <div class="row boxes">#}
{#            <div class="col-md-4">#}
{#              <div class="box">#}
{#                <a href="#"><img src="{{ '/img/thumb1.png'|url }}" alt="" class="img-fluid"></a>#}
{#                <h3><a href="#">LOREM IPSUM</a></h3>#}
{#                <p>Lorem Ipsum Dolor SitTuer Adipiscing. Lorem Ipsum Dolor SitTuer Adipiscing.Lorem Ipsum Dolor SitTuer Adipiscing...  <br class="br-more"> <a class="more" href="#">MORE <i class="fas fa-angle-right"></i></a></p>#}
{#              </div><!-- /.box -->#}
{#            </div><!-- /.col-md-4 -->#}
{#            <div class="col-md-4">#}
{#              <div class="box">#}
{#                <a href="#"><img src="{{ '/img/thumb2.png'|url }}" alt="" class="img-fluid"></a>#}
{#                <h3><a href="#">LOREM IPSUM</a></h3>#}
{#                <p>Lorem Ipsum Dolor SitTuer Adipiscing. Lorem Ipsum Dolor SitTuer Adipiscing.Lorem Ipsum Dolor SitTuer Adipiscing...  <br class="br-more"> <a class="more" href="#">MORE <i class="fas fa-angle-right"></i></a></p>#}
{#              </div><!-- /.box -->#}
{#            </div><!-- /.col-md-4 -->#}
{#            <div class="col-md-4">#}
{#              <div class="box">#}
{#                <a href="#"><img src="{{ '/img/thumb3.png'|url }}" alt="" class="img-fluid"></a>#}
{#                <h3><a href="#">LOREM IPSUM</a></h3>#}
{#                <p>Lorem Ipsum Dolor SitTuer Adipiscing. Lorem Ipsum Dolor SitTuer Adipiscing.Lorem Ipsum Dolor SitTuer Adipiscing... <br class="br-more"> <a class="more" href="#">MORE <i class="fas fa-angle-right"></i></a></p>#}
{#              </div><!-- /.box -->#}
{#            </div><!-- /.col-md-4 -->#}
{#          </div><!-- /.row -->#}
{#        </div><!-- /.container -->#}
{#      </div><!-- /.section-press-releases -->#}
{##}
{##}
{#      <!-- Tailored Solutions -->#}
{#      <div class="section-tailored-solutions section">#}
{#        <div class="container">#}
{#          <div class="tailored-solutions text-center">#}
{#            <h2>tailored solutions</h2>#}
{#            <h3>Hawai’i Pathologists’ Laboratory</h3>#}
{#            <p class="quote">#}
{#              Combining local expertise with the well curated data already built into GenomOncology’s systems, our lab can continuously learn about these populations, and ultimately, offer better care.#}
{#            </p>#}
{#            <a class="btn btn-success" href="#">READ MORE <i class="fas fa-angle-right"></i></a>#}
{#          </div>#}
{#        </div><!-- /.container -->#}
{#      </div><!-- /.section-tailored-solutions -->#}
{##}
{##}
{#      <!-- Clients -->#}
{#      <div class="section-clients bg-blue text-center">#}
{#        <div class="container">#}
{#          <div class="section-header">#}
{#            <div class="green-text">lorem ipsum</div>#}
{#            <h2>clients served</h2>#}
{#          </div><!-- /.section-header -->#}
{#          <div class="row clients">#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo1.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo2.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo3.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo4.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo5.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo6.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo7.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo8.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo9.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo10.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo11.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#              <img src="{{ '/img/logo12.png'|url }}" alt="" class="img-fluid">#}
{#            </div>#}
{#          </div><!-- /.row -->#}
{#        </div><!-- /.container -->#}
{#      </div><!-- /.section-clients -->#}


      <!-- Contact -->
      <div class="section-contact bg-blue">
        <div class="container">
          <div class="container-inner">
            <h2 class="d-none d-sm-block">lorem ipsum dolar sit</h2>
            <h2 class="d-block d-sm-none">LOOKING FOR NEXT GENERATION solutions?</h2>
            <form action="#" name="">
              <div class="d-none d-sm-block">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="sr-only" for="f_name">First Name</label>
                      <input type="text" class="form-control" id="f_name" placeholder="First Name">
                    </div>
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="sr-only" for="l_name">Last Name</label>
                      <input type="text" class="form-control" id="f_name" placeholder="Last Name">
                    </div>
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="sr-only" for="email_address">Email Address</label>
                      <input type="text" class="form-control" id="email_address" placeholder="Email Address">
                    </div>
                  </div><!-- /.col-md-6 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="sr-only" for="phone">Phone Number</label>
                      <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                  </div><!-- /.col-md-6 -->
                 </div><!-- /.row -->
               </div><!-- /.d-none /.d-sm-block -->
               <div class="row">
                <div class="col-md-12 text-center">
                   <button type="submit" class="btn btn-success">contact us <i class="fas fa-angle-right"></i></button>
                </div>
              </div><!-- /.row -->
            </form>
          </div><!-- /.container-inner -->
        </div><!-- /.container -->
      </div><!-- /.section-contact -->


      <!-- Site Footer -->
      <footer class="site-footer bg-blue">
        <div class="container">
          <div class="row">
            <div class="col-md-4 block-left">
              <img src="{{ '/img/footer_left_img.png'|url }}" alt="" class="d-none d-sm-block img-fluid">
            <h3><a href="#">locate us lorem ipsum <img src="{{ '/img/icon_gt.png'|url }}" alt=""></a></h3>
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 order-md-2 newsletter-and-socail-icons">
                  <!-- Subscribtion Form -->
                  <div class="subscribtion-form">
                    <h3>connect with us</h3>
                    <form action="#">
                      <div class="fields-wrap">
                        <input type="text" placeholder="sign up for email updates">
                        <button type="submit"><img src="{{ '/img/icon_gt.png'|url }}" alt=""></button>
                      </div>
                    </form>
                  </div><!-- /.subscribtion-form -->
                  <!-- Social Icons -->
                  <div class="social-icons">
                    <ul>
                      <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                  </div><!-- /.social-icons -->
                </div><!-- /.col-md-6/.newsletter-and-socail-icons -->
                <div class="col-md-6 order-md-1 footer-menu-and-copyright">
                  <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">News & Events</a></li>
                  </ul>
                  <p class="copyright">
                    COPYRIGHT 2018 GENOMONCOLOGY LLC. <br>  ALL RIGHTS RESERVED.
                  </p>
                </div><!-- /.col-md-6/.footer-menu-and-copyright -->
              </div><!-- /.row -->
            </div><!-- /.col-md-8 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{{ 'js/jquery.flexslider-min.js'|url }}"></script>
    <script src="{{ 'js/custom.js'|url }}"></script>
  </body>
</html>
